.owl-theme .owl-dots {
  text-align: left; }

    .owl-theme .owl-dots .owl-dot span {
      width: 25px;
      height: 2px;
      margin: 0 8px 0 0;
      background: #887f69;
      transition: opacity 500ms ease;}
      
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #9d1a2d; }
      
.owl-theme .owl-nav.disabled+.owl-dots {
     margin-top: 0px; }  
      
@media (min-width: 551px)  {
  .owl-theme .owl-dots .owl-dot span {
    
  }
  
}      